.Container{
    border: 1px solid lightgray;
    border-radius: 5px;
    width: 300px;
    padding-bottom: 11px ;
    padding: 0px 0px 11px 0px; /*Arriba,derecha,abajo,izquierda */
    margin: 0px 11px; /*Borde superior-inferior / Bordes laterales */
}

.title{
    color: gray; 
}