.noticiasI{
    width: 450px;
    height: 100px;
    background-color: white;
    margin-left: 3%;
    display: flex;
    transition: width 0.3s;
    transition: height 0.3s;
}

.noticiasI:hover{
    width: 460px;
    height: 110px;
    margin-right: -10px;
    background-color: lightgrey;
}

.noticiasD{
    width: 450px;
    height: 100px;
    background-color: white;
    display: flex;
    margin-left: 20%;
    transition: width 0.3s;
    transition: height 0.3s;
}

.noticiasD:hover{
    width: 460px;
    height: 110px;
    margin-right: -10px;
    background-color: lightgrey;
}

.titulos{
    display: flex;
    margin-top: 30px;
}
.secciones{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagen{
    height: 90px;
    margin-top: auto;
    margin-left: 5px;
    margin-bottom: auto;
    margin-right: auto;
    border-radius: 5px;
}

.titulos h1{
    margin-left: 40px;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
    color: rgb(105, 101, 101);
    padding-top: 8px;
}

.izquierda{
    margin-left: 4px;
}

.cajitaC{
    background-color: lightgray;
    width: 200px;
    padding: 10px 0px;
    margin-left: 3%;
    margin-right: 23%;
    margin-bottom: 0px;
    margin-top: 0px ;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cajitaC:hover{
    background-color: lightgreen;
}

.indice{
    height: 30px;
    width: 30px;
}

link:hover{
    color: green;
}